name: stepper_a
description: StepperA is a simple and robust Flutter package which is making it possible to use FormKey validation and easy access your own button press control.
version: 1.2.4
homepage: https://github.com/uttom41/StepperA

environment:
  sdk: '>=2.18.0 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter:


